@import 'node_modules/bootstrap/scss/bootstrap';

body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
}

header {
  /* so cmd-r's little fingers can hang over the edge of the page a little */
  position: relative;
  bottom: -8px;
  z-index: 1;
}

.rounded-corners-top {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

.rounded-corners-bottom {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

#idg-img {
  background: url("/static/udevgames_logo.png") no-repeat;
  height: 85px;
  width: 357px;
}

.jam-list-jam-entries {
  @extend .list-inline;

  > li.my-jam {
    @extend .border-primary;
  }

  li {
    @extend .list-inline-item;
    @extend .border;
    @extend .rounded;

    max-height: 240px;
    max-width: 320px;

    > .title {
      @extend .bg-white;
      @extend .py-1;
    }

    > * {
      @extend .px-1;
    }

    > .create-link {
      @extend .text-center;
    }
  }
}

footer {
  text-align: center;
}
